.my-header{
    background: linear-gradient(to bottom right,black, red);
    h1{
        color: #fff;
    }
    a{
        color: #fff;
    }
}
.my-footer{
    background: linear-gradient(to bottom right,red, black);
    a{
       span{
           color: #fff;
       }
       &.mui-active{
           span{
               color: orange;
           }
       }
    }
}