html{
    background-color: #fff;
}
.mui-content{
    overflow: hidden;
    background-color: #fff;
}

.nav-links{
    overflow: hidden;
    padding: 10px;
    a{
        display: block;
        width: 33.33%;
        float: left;
        img{
            display: block;
            width: 100%;
        }
    }
}
.brand{
    margin: 10px 0;
    >img{
        width: 100%;
        padding-bottom: 10px;
    }
    ul{
        overflow: hidden;
        li{
            width: 25%;
            float: left;
            list-style: none;
            a{
                width: 100%;
                display: block;
                img{
                    display: block;
                    width: 100%;
                }
            }
        }
    }
}
.sports{
    >img{
        width: 100%;
        display: block;  
    }
    >ul{
        padding: 10px 10px 20px 10px;
        width: 100%;
        overflow: hidden;
        li{
            width: 50%;
            float: left;
            padding: 5px;
            a{  
                text-align: center;
                color: black;
                display: block;
                padding: 5px;
                width: 100%;
                box-shadow: 0 0 5px #ccc;
                img{
                    width: 100%;
                }
                >span{
                    overflow: hidden;
                    text-align: center;
                    color: #ccc;
                    font-size: 12PX;
                }
                >p{
                    text-align: center;
                    >span:first-child{
                        padding-right: 10px;
                        color: #e92324;
                    }
                    >span:last-child{
                        text-decoration: line-through;
                    }

                }
                .buynow{
                    color: #fff;
                    display: block;
                    width: 80px;
                    height: 30px;
                    text-align: center;
                    line-height:30px;
                    font-size: 14px;
                    border-radius: 10px;
                    margin: 0 auto 5px;
                    background: linear-gradient(to bottom right,white, red);
                }
            }

        }
    }
}