html {
  background-color: #fff;
}
.mui-content {
  overflow: hidden;
  background-color: #fff;
}
.nav-links {
  overflow: hidden;
  padding: 10px;
}
.nav-links a {
  display: block;
  width: 33.33%;
  float: left;
}
.nav-links a img {
  display: block;
  width: 100%;
}
.brand {
  margin: 10px 0;
}
.brand > img {
  width: 100%;
  padding-bottom: 10px;
}
.brand ul {
  overflow: hidden;
}
.brand ul li {
  width: 25%;
  float: left;
  list-style: none;
}
.brand ul li a {
  width: 100%;
  display: block;
}
.brand ul li a img {
  display: block;
  width: 100%;
}
